body {
  font-family: "Roboto", sans-serif !important;
}

body::-webkit-scrollbar {
  display: none;
}

@keyframes slightSpin {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes floatTop {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  40% {
    transform: translateY(-10px);
    opacity: 0;
  }
  60% {
    transform: translateY(10px);
    opacity: 0;
  }
  95% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes floatRight {
  from {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
  to {
    transform: translateX(10vw) scale(1.5);
    opacity: 0;
  }
}
